html 
{
	scroll-behavior: smooth;
    width: 100%;
    font-size: 100%;
}

body
{
    background-color: #4e495f;
    margin: auto;
}

h1
{
    font-family: 'Press Start 2P', cursive;
    font-size: 1.2rem;
    margin: 0;
}

/*Logo*/
.logo
{
    margin-top: 2%;
    width: 15%;
}

/*Navigation system*/

#nav
{
    margin-bottom: 0;
    margin-right: 0;
    width: 90%;
    font-family: 'Press Start 2P', cursive;
    position: sticky;
    z-index: 2;  
}

.btn 
{
    border: none;
    background-color: inherit;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.2rem;
    padding: 0.5rem;
    cursor: pointer;
    color: #51D600;
    display: inline-block; 
}


.btn:hover 
{
    text-decoration: underline;
}

.active
{
    background-color: #51D600;
    color: #08141E;
}



/*Background part, with computer layout*/
  
#part
{
    box-sizing: border-box;
    background-color: #08141E;
    width: 90%;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 1%;
    padding: 1%;
    font-family: 'Cutive Mono', monospace;;
    font-size: 1rem;
    position: sticky;
    z-index: 2;
}

/*Site container, sets flex-box*/

#container
{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 5%;
    flex-wrap: wrap;
    overflow: auto;
}

/*Information text/any text container*/

#text
{
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0;
    padding: 0.5%;
    color: #51D600;
    font-family: 'Cutive Mono', monospace;;
    font-size: 1rem;
    align-self: center;
    order: 1;  
}

.tico
{
    width: 10%;
}

/*Profile cards*/

#profile
{
    width: 90%;
    margin-top: 0;
    padding: 0.5%;
    color: #51D600;
    font-family: 'Cutive Mono', monospace;;
    font-size: 1rem;
    align-self: center;
    order: 2;
    display: none;
}

.wrapper
{
    display: grid;
    margin-top: 2%;
    margin-right: 0;
    grid-template-columns: 8rem auto; 
}

.prof
{
    max-width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: auto;
}

.kim_p 
{
    grid-column: 1;
    grid-row: 1;
    
}

.kim_t
{
    grid-column: 2;
    grid-row: 1;
}
.siiri_p 
{
    grid-column: 1;
    grid-row: 2;
}

.siiri_t
{
    grid-column: 2;
    grid-row: 2;
}
.niko_p 
{
    grid-column: 1;
    grid-row: 3;
}

.niko_t 
{
    grid-column: 2;
    grid-row: 3;
}

.atte_p 
{
    grid-column: 1;
    grid-row: 4;
}

.atte_t 
{
    grid-column: 2;
    grid-row: 4;
}

.miska_p 
{
    grid-column: 1;
    grid-row: 5;
}

.miska_t 
{
    grid-column: 2;
    grid-row: 5;
}

.milla_p 
{
    grid-column: 1;
    grid-row: 6;
}

.milla_t 
{
    grid-column: 2;
    grid-row: 6;
}

.andreas_p 
{
    grid-column: 1;
    grid-row: 7;
}

.andreas_t 
{
    grid-column: 2;
    grid-row: 7;
}

/*Social media part*/

#some
{
    width: 90%;
    margin-top: 0;
    padding: 0.5%;
    color: #51D600;
    font-family: 'Cutive Mono', monospace;;
    font-size: 1rem;
    align-self: center;
    order: 3;
    display: none;
}

.row 
{
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    margin: 5px;
}
    
.column 
{
    padding: 10px;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    margin: 10px;
}
    
.row:after 
{
    visibility: hidden;
    content: " ";
    clear: both;
}

.itch
{
    width: 250px;
}

@media screen and (max-width: 869px) and (min-width: 725px)
{
    .btn
    {
        font-size: 1.1rem;
    }

    h1 
    {
        font-size: 1.1rem ;
    }

    #nav
    {
        width: 95%;
    }

    #part
    {
        width: 95%;
    }
}

@media screen and (max-width: 724px) and (min-width: 595px)
{
    .mobile
    {
        display: block;
    }    
}

@media screen and (max-width: 594px) and (min-width: 490px)
{
    .mobile
    {
        display: block;
    }

    #nav
    {
        width: 100%;
    }

    .btn
    {
        font-size: 1rem;
    }

    #part
    {
        width: 100%;
    }

}

@media screen and (max-width: 489px) and (min-width: 449px)
{
    .mobile
    {
        display: block;
    }

    #nav
    {
        width: 100%;
    }

    .btn
    {
        font-size: 0.9rem;
    }

    #part
    {
        width: 100%;
    }

}

@media screen and (max-width: 448px) and (min-width: 400px)
{
    .mobile
    {
        display: block;
    }

    #nav
    {
        width: 100%;
    }

    .btn
    {
        font-size: 0.8rem;
    }

    #part
    {
        width: 100%;
    }

}

@media screen and (max-width: 400px)
{
    .mobile
    {
        display: block;
    }

    #nav
    {
        width: 100%;
    }

    .btn
    {
        font-size: 0.7rem;
    }

    #part
    {
        width: 100%;
    }


}